In [1]:
# d = {<key>:<value>,<key>:<value>,<key>:<value>}

In [2]:
d = {"A":"Apple","B":"Ball"}
d["B"]

'Ball'

In [3]:
#nutable
#indexed
#ordered
#Duplicate

In [4]:
d={}
d['A'] = "Appple"
d["B"] = "Ball"
d

{'A': 'Appple', 'B': 'Ball'}

In [6]:
d["A"] = "Ant"
d

{'A': 'Ant', 'B': 'Ball'}

In [7]:
d={}
d[0] = "Appple"
d[1] = "Ball"
d

{0: 'Appple', 1: 'Ball'}

In [8]:
d[1]

'Ball'

In [1]:
info = {}
for i in range(2):
    name = input("Enter the name =")
    phone = int(input("Enter the phone ="))
    info[name] = phone
print(info)

Enter the name =jupiter
Enter the phone =090909
Enter the name =ram
Enter the phone =090909
{'jupiter': 90909, 'ram': 90909}

In [2]:
a = {"a":"Apple","c":"Cat"}
b = {"b":"Ball"}
a.update(b)
print(a)

{'a': 'Apple', 'c': 'Cat', 'b': 'Ball'}

In [3]:
for i in a:
    print(i)

a
c
b

In [4]:
for i in a.values():
    print(i)

Apple
Cat
Ball

In [7]:
for i in a.items():
    print(i)

('a', 'Apple')
('c', 'Cat')
('b', 'Ball')

In [9]:
info = {}
for i in range(2):
    name = input("Enter the name =")
    ncell_phone = int(input("Enter the ncell phone ="))
    ntc_phone = int(input("Enter the ntc phone ="))
    info[name] = [ncell_phone,ntc_phone]
print(info)

Enter the name =jupiter
Enter the ncell phone =989890809
Enter the ntc phone =98498948094
Enter the name =ram
Enter the ncell phone =98980989
Enter the ntc phone =98498980948
{'jupiter': [989890809, 98498948094], 'ram': [98980989, 98498980948]}

In [11]:
name = input("Enter the name = ")
print(info[name])

KeyboardInterrupt: Interrupted by user

In [12]:
d = {'jupiter': [989890809, 98498948094], 'ram': [98980989, 98498980948]}
del d["jupiter"][1]
d

In [15]:
{'jupiter': [989890809, 98498948094], 'ram': [98980989, 98498980948]}
d["jupiter"].append(445655656)
d

{'jupiter': [989890809, 445655656, 445655656], 'ram': [98980989, 98498980948]}

In [16]:
b = {}
a ={"a":"Apple","b":"Ball"}
for i in a.items():
    key = i[0].upper()
    value = i[1]
    b[key] = value
b

{'A': 'Apple', 'B': 'Ball'}

In [19]:
b={}
a ={"a":"Apple","b":"Ball"}

a.pop("a")
a

{'b': 'Ball'}

In [23]:
b={"A":"Apple"}
b.update(a)
b

{'A': 'Apple', 'b': 'Ball'}

In [28]:
b = {}
a ={"a":"Apple","b":"Ball"}
for i in a.items():
    key = i[0]
    if key == "a":
        value = i[1]
    b[key] = value
b

{'a': 'Apple', 'b': 'Apple'}

In [29]:
#a = [{""}] #dictionary inside list important

In [30]:
#dictionary inside list 
a = [{"Ram":989887897879},{"shyam":909098098}]
a

[{'Ram': 989887897879}, {'shyam': 909098098}]

In [31]:
a[0]

{'Ram': 989887897879}

In [32]:
a.append({"Hari":989089809890})
a

[{'Ram': 989887897879}, {'shyam': 909098098}, {'Hari': 989089809890}]

In [34]:
z = []
n = int(input("enter the value of n = "))
for i in range(n):
    name = input("Enter the name =")
    phone = int(input("Enter the name ="))
    d = {name:phone}
    z.append(d)
print(z)

enter the value of n = 2
Enter the name =jupiter
Enter the name =98989898
Enter the name =ram
Enter the name =989809
[{'jupiter': 98989898}, {'ram': 989809}]

In [4]:
# dictionary inside dictionary
a = {"Ram":{"NTC":9843435743,"NCELL":9834345345},"Shyam":{"NTC":9843435743,"NCELL":9834345345}}
print(a)

{'Ram': {'NTC': 9843435743, 'NCELL': 9834345345}, 'Shyam': {'NTC': 9843435743, 'NCELL': 9834345345}}

In [5]:
for i in a.values():
    print(i)

{'NTC': 9843435743, 'NCELL': 9834345345}
{'NTC': 9843435743, 'NCELL': 9834345345}

In [6]:
for i in a.items():
    print(i)

('Ram', {'NTC': 9843435743, 'NCELL': 9834345345})
('Shyam', {'NTC': 9843435743, 'NCELL': 9834345345})

In [7]:
a["Hari"] = {"NTC":989767887,"NCELL":989709809}
a

{'Ram': {'NTC': 9843435743, 'NCELL': 9834345345},
 'Shyam': {'NTC': 9843435743, 'NCELL': 9834345345},
 'Hari': {'NTC': 989767887, 'NCELL': 989709809}}

In [8]:
a["Hari"]["NTC"] = 9000000000
a

{'Ram': {'NTC': 9843435743, 'NCELL': 9834345345},
 'Shyam': {'NTC': 9843435743, 'NCELL': 9834345345},
 'Hari': {'NTC': 9000000000, 'NCELL': 989709809}}

In [10]:
a = {("Apple","Ant"):"A"}
a

{('Apple', 'Ant'): 'A'}