In [1]:
a = {1,2,3}
b = {1,5,6}

# mutable
# no indexing
# no duplicate values
# unordered

In [2]:
a = {1,2,3,4}
a[0]

TypeError: 'set' object is not subscriptable

In [3]:
a = {67,65,1,2,36,9}
a

{1, 2, 9, 36, 65, 67}

In [4]:
a = {"apple","ball","@","2","1"}
a

{'1', '2', '@', 'apple', 'ball'}

In [5]:
d = a
list(d)

['1', 'ball', '2', 'apple', '@']

In [6]:
a = {1,2,3}
b = {1,5,6}
a.update(b)
print(a)

{1, 2, 3, 5, 6}

In [7]:
a = {1,2,3}
a.add(4)
a

{1, 2, 3, 4}

In [10]:
s = set()
n = int(input("Enter the value of n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s.add(x)
print(s)

Enter the value of n = 3
Enter x = 1
Enter x = 2
Enter x = 3
{1, 2, 3}

In [11]:
a = {(1,2,3),(4,5,6)}
a

{(1, 2, 3), (4, 5, 6)}

In [12]:
abc = {"Ram","Shyam","Hari","Gita"}
xyz = {"Ram","Sita","Gita"}
abc.union(xyz)

{'Gita', 'Hari', 'Ram', 'Shyam', 'Sita'}

In [13]:
abc.intersection(xyz)

{'Gita', 'Ram'}

In [15]:
abc.difference(xyz)

{'Hari', 'Shyam'}

In [18]:
abc = {"Ram","Shyam","Hari","Gita"}
xyz = {"Ram","Sita","Gita"}
mnk = {"Ram"}
abc.intersection(xyz,mnk)

{'Ram'}

In [19]:
a = [11,1,12,22,23,4,1,41,1,1,1]
set(a)

{1, 4, 11, 12, 22, 23, 41}

In [21]:
abc = {"Ram","Shyam","Hari","Gita"}
xyz = {"Ram","Gita"}
abc.issuperset(xyz)

True

In [24]:
abc = {"Ram","Shyam","Hari","Gita"}
xyz = {"Ram","Gita"}
xyz.issubset(abc)

True