In [1]:
a = "Hello World"
print(a)
print(type(a))

Hello World
<class 'str'>

In [2]:
a = "Hellow"
b = "world"
print(a+b)

Hellowworld

In [4]:
a ="Hello World\n"
print(a*2)

Hello World
Hello World

In [6]:
a ="Python"
print(a[0])

P

In [13]:
a = "Hello World This Is Python"
print(a[0:11]) #string slicing
print(a[5:])

Hello World
 World This Is Python

In [20]:
a= "Python"
print(a[5::-1])#reverse print

nohtyP

In [17]:
a = "Hello World This Is Python"
print(a[0:10:2])

HloWr

In [22]:
#string formatting
a = "Apple"
b = "Ball"
c = a+ " " +b
c

'Apple Ball'

In [25]:
#string formatting
a = "Apple"
b = "Ball"
c = f"{a} {b}" #using variale inside {}
print(c)

Apple Ball

In [27]:
name = input("Enter the name = ")
age = int(input("Enter age = "))
address =input("Enter the address")
info = f"Hellow my name is {name}. I am from {address}. I am {age} years old."
print(info)

Enter the name = Jupiter
Enter age = 24
Enter the addressBhaktapur
Hellow my name is Jupiter. I am from Bhaktapur. I am 24 years old

In [29]:
s = ""
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter the name =")
    phone = int(input("Enter the phone number ="))
    info = f"{name}--{phone}\n"
    s=s+info
print(s)

Enter n =2
Enter the name =ram
Enter the phone number =343434343
Enter the name =shyam
Enter the phone number =345353535
ram--343434343
shyam--345353535

In [32]:
a = "Hello My name is Ram. I am from Kathmandu.I am 24 years old."

if "Ram" in a:
    print("yes",a.count("Ram"))
else:
    print("no")

yes 1

In [33]:
a = "Hello My name is Ram. I am from Kathmandu.I am 24 years old."
value = input("Enter value = ")
if value in a:
    print("yes",a.count(value))
else:
    print("no")

Enter value = I
yes 2

In [35]:
a.upper()

'HELLO MY NAME IS RAM. I AM FROM KATHMANDU.I AM 24 YEARS OLD.'

In [36]:
a.lower()

'hello my name is ram. i am from kathmandu.i am 24 years old.'

In [38]:
a = "Hello My name is Ram. I am from Kathmandu.I am 24 years old.".lower()
value = input("Enter value = ").lower()
if value in a:
    print("yes",a.count(value))
else:
    print("no")

Enter value = RAm
yes 1

In [1]:
a = "Ram--98989898\nShyam--9797979797"
a = a.replace("Ram","Hari")
print(a)

Hari--98989898
Shyam--9797979797

In [45]:
print(a)

Hari--98989898
Shyam--9797979797

In [4]:
a = "Ram--98989898\nShyam--9797979797"
a = a.replace('Ram--98989898','')
a

'\nShyam--9797979797'

In [5]:
#make mark sheet

In [7]:
a = "Hellow World"
a.split()    #list datatype like array

['Hellow', 'World']

In [13]:
a = "Ram--98989898\nShyam--9797979797"
a.split()

['Ram--98989898', 'Shyam--9797979797']

In [14]:
#write a program for billing system
#WAP for result management systerm